[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pyqtgraph = "*"
numpy = "*"

[dev-packages]
pylint = "*"
pyinstaller = "*"

[requires]
python_version = "3"
